on: [push, pull_request]
name: Check
jobs:
  check:
    strategy:
      matrix:
        go-version: ['1.24']
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Build
      run: go build ./cmd/cloudflared
